style
  @font-face {
    font-family: "pixel";
    src: url('LCD_Solid.ttf') format("truetype");
  }

a, button
  font-family pixel

body
  -webkit-transition: all 1.2s
  -moz-transition: all 1.2s
  -ms-transition: all 1.2s
  -o-transition: all 1.2s
  transition: all 1.2s

.menu-container
  padding: 150px 0 150px 0
  text-transform uppercase

.active-page > li > span
  color:#ffffff
  font-size:45px
  text-shadow: 9px -6px 0px #2D2B2B

.spacer
  font-family pixel
  color #ffffff
  font-size 45px
  text-shadow: 9px -6px 0px #2D2B2B
  padding 0

.nav.navbar-nav.pull-right > li > a > img
  box-shadow: 9px -6px 0px #2D2B2B

label
  font-size 20px

.active-page > li
  height: 25px

h1, h2, h3, .active-page, label
  font-family pixel

.content > .ng-enter  
  -webkit-animation: bounceInLeft 1s
  -moz-animation: bounceInLeft 1s
  -ms-animation: bounceInLeft 1s
  animation: bounceInLeft 1s

.code-view.ng-hide-remove
  -webkit-animation: zoomIn 1s
  -moz-animation: zoomIn 1s
  -ms-animation: zoomIn 1s
  animation: zoomIn 1s

.code-view.ng-hide-add
  -webkit-animation: zoomOut 1s
  -moz-animation: zoomOut 1s
  -ms-animation: zoomOut 1s
  animation: zoomOut 1s

.navbar
  padding-top 50px

.navbar-nav > li >a
  padding 0

.navbar-nav > li
  padding-right 10px


.angular-background:hover > div > img
  cursor pointer

.blink_me
  border 4px solid red
