style
  @font-face {
    font-family: "pixel";
    src: url('LCD_Solid.ttf') format("truetype");
  }
.menu-container
  background-color: #333
  color: #fff
  padding: 150px 0 150px 0
  text-transform uppercase

.active-page > li > span
  color:#ffffff
  font-size:45px
  text-shadow: 9px -6px 0px #2D2B2B

.nav.navbar-nav.pull-right > li > a > img
  box-shadow: 9px -6px 0px #2D2B2B

.active-page > li
  height: 25px

h1, h2, h3, .active-page
  font-family pixel

footer
  padding-top: 40px
  color: #fff   

.content > .ng-enter  
  -webkit-animation: fadeInLeft 1s   
  -moz-animation: fadeInLeft 1s   
  -ms-animation: fadeInLeft 1s   
  animation: fadeInLeft 1s   
  
tr.ng-enter  
  -webkit-animation: slideInLeft 1s   
  -moz-animation: slideInLeft 1s   
  -ms-animation: slideInLeft 1s   
  animation: slideInLeft 1s   
  
tr.ng-leave  
  -webkit-animation: slideOutRight 1s   
  -moz-animation: slideOutRight 1s   
  -ms-animation: slideOutRight 1s   
  animation: slideOutRight 1s   

  
th  
  cursor: pointer   
  -webkit-touch-callout: none   
  -webkit-user-select: none   
  -khtml-user-select: none   
  -moz-user-select: none   
  -ms-user-select: none   
  user-select: none


.navbar
  padding-top 50px

.navbar-nav > li >a
  padding 0

.navbar-nav > li
  padding-right 10px