body
  padding-top 121px

footer
  padding-top 40px
  color white
small
  color white
  margin-top -10px

.jumbotron
  background none
  color white

.thumbnail
  min-height 136px
  max-height 136px
  img
    max-height 200px
  .small-thumbnail:hover
    background-color #43ac6a
    border 1px solid #3c9a5f
    color white
    cursor pointer

.thumbnail:hover
  background-color #cccccc
  cursor pointer

.highcharts-button
  cursor pointer !important

.skjold
  width 60px

.jumbotron.ng-enter
  -webkit-animation fadeIn 2s
  -moz-animation fadeIn 2s
  -ms-animation fadeIn 2s
  animation fadeIn 2s

.content > .ng-enter
  -webkit-animation fadeInLeft 1s
  -moz-animation fadeInLeft 1s
  -ms-animation fadeInLeft 1s
  animation fadeInLeft 1s

tr.ng-enter
  -webkit-animation slideInLeft 1s
  -moz-animation slideInLeft 1s
  -ms-animation slideInLeft 1s
  animation slideInLeft 1s

tr.ng-leave
  -webkit-animation slideOutRight 1s
  -moz-animation slideOutRight 1s
  -ms-animation slideOutRight 1s
  animation slideOutRight 1s


.logo
  text-align center
.ion-map
  color white
  font-size 16px

th
  cursor pointer
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.ion-arrow-up-c, .ion-arrow-down-c
  padding-left 5px

path[fill^='#EEDD66']
  cursor pointer

.btn-frontpage
  border 2px solid white
  background white
  color #333333

.btn-frontpage:hover
  background #cccccc
  border 2 px solid #cccccc
  color black