div(class="container", style="padding-top:40px;")

    .col-xs-12.text-center
        img(src="/app/images/ending_512.gif",class="hidden-xs", height="256")

    .col-xs-12.text-center
        .col-xs-offset-3.col-xs-6
            div(class="well well-sm", style="border:10px ridge #b52e31;border-radius:16px;background:#e23237;color:white;")
                h1 GAME OVER
        .col-xs-12
            span(style="font-size:45px;") tdc2014-skar.herokuapp.com


