.container
    .col-xs-12
        h3 Built in
        .col-xs-6

            div(class="checkbox")
                label
                    input(ng-model="check", type="checkbox")
                    | Move ng-man

        .col-xs-6.well.text-center
            .col-xs-6
                img(src="/app/images/standing_blinking_512.gif", height="128", ng-hide="check")
            .col-xs-6
                img(src="/app/images/standing_blinking_512.gif", height="128", ng-show="check")

    .col-xs-6
        h3 Custom

    .col-xs-6.well


.container(ng-show="toggle.showCode.state")
    .col-xs-12
        div(ng-include="'app/views/partials/directive_code/directive_code.html'")