.container
    h3 OrderBy
    br
    select(ng-model="predicate")
        option(value="name") Name
        option(value="number") Number
    label(class="checkbox-inline")
        input(type="checkbox", ng-model="reverse")
        | Descending
    input(type="text", class="pull-right", ng-model="filtering", placeholder="Search")
    table(class="table")
        thead
            tr
                th #
                th Image
                th Name
        tbody
            tr(class="table-row", ng-repeat="item in repeat.module | orderBy: predicate:reverse | filter:filtering")
                td {{item.number}}
                td
                    img(ng-src="{{item.image}}", height="24px")
                td {{item.name}}
    h3 Others
    input(ng-model="otherFilters", type="text")
    h4 uppercase: {{ otherFilters | uppercase }}
    h4 lowercase: {{ otherFilters | lowercase }}
    h4 currency: {{ otherFilters | currency:'NOK ' }}

    | fizzbuzz