.container
    h1 GETTING STARTED
    ul(class="list-unstyled padded-list")
        li
            h3 STEP 0: ADD angular.js TO YOUR HTML PAGE
        li(ng-show="toggle.showCode.state", class="code-view")
            span(ng-include="'app/views/partials/init_code/step_0.html'")
        li
            h3 STEP 1: ADD "ng-app" TO HTML ELEMENT
        li(ng-show="toggle.showCode.state", class="code-view")
            span(ng-include="'app/views/partials/init_code/step_1.html'")
        li
            h3 STEP 2: CREATE ANGULAR MODULE
        li(ng-show="toggle.showCode.state", class="code-view")
            span(ng-include="'app/views/partials/init_code/step_2.html'")
        li
            h3 STEP 3: REFERENCE YOUR ANGULAR MODULE TO "ng-app"
        li(ng-show="toggle.showCode.state", class="code-view")
            span(ng-include="'app/views/partials/init_code/step_3.html'")
        li
            h3 STEP 4: WRITE CONTROLLER
        li(ng-show="toggle.showCode.state", class="code-view")
            span(ng-include="'app/views/partials/init_code/step_4.html'")
        li
            h3 STEP 5: ADD YOUR SCRIPTS
        li(ng-show="toggle.showCode.state", class="code-view")
            span(ng-include="'app/views/partials/init_code/step_5.html'")
        li
            h3 STEP 6: SET UP ROUTES (IF YOU WANT A SPA)
        li(ng-show="toggle.showCode.state", class="code-view")
            span(ng-include="'app/views/partials/init_code/step_6.html'")
        li
            h3 STEP 7: ADD "ng-view" AND FILES
        li(ng-show="toggle.showCode.state", class="code-view")
            span(ng-include="'app/views/partials/init_code/step_7.html'")


