.container(ng-hide="toggle.showCode.state")

    h2 GETTING STARTED

    ol
        li Include 'angular.js' file into index.html
        li Create angular.module and add to view
        li Set up routes
        li Add ng-view


.container(ng-show="toggle.showCode.state")
    h1 CODE COMES HERE