div(class="container", style="padding-top:40px;")

    .col-xs-12.text-center
        img(src="/app/images/logo_512.png", class="hidden-xs", height="512")
        img(src="/app/images/logo_512.png", style="margin-left:auto;margin-right:auto;" class="visible-xs", height="256")
    .col-xs-offset-4.col-xs-4.text-center
        h1(style="margin-top:128px;")
            a(href="/menu", style="color:white;font-weight:bold;") PRESS START

    .col-xs-4.text-right
        img(src="/app/images/standing_blinking_512.gif",class="hidden-xs", height="256")