.container
    title(pic="images/spark.png") Start Man
    ol
        li Include 'angular.js' file into index.html
        li Create angular.module and add to view
        li Set up routes
        li Add ng-view