.container
    .col-xs-6
        ol
            li
                h3 ANGULAR 2.0: COMING SOON

            li
                h3 SOME USEFUL LINKS:
                ul
                    li
                        h4
                            a(href="http://ngmodules.org/", target="_blank") Angular Modules
                    li
                        h4
                            a(href="http://angular-ui.github.io/bootstrap/", target="_blank") UI Bootstrap
                    li
                        h4
                            a(href="http://mean.io/#!/", target="_blank") MEAN.IO
                    li
                        h4
                            a(href="http://daneden.github.io/animate.css/", target="_blank") Animate.css