.container
    ol
        li
            h3 BE AWARE: AngularJS 2.0 ON IT'S WAY

        li
            h3 STOP REINVENTING THE WHEEL:
            ul
                li
                    h4
                        a(href="http://ngmodules.org/", target="_blank") Angular Modules
                li
                    h4
                        a(href="http://angular-ui.github.io/bootstrap/", target="_blank") UI Bootstrap
                li
                    h4
                        a(href="http://mean.io/#!/", target="_blank") MEAN.IO