.container
    .col-xs-12.text-center
        select(ng-model="watchSelect", class="input-large", ng-options="item.name for item in repeat.module")
            option {{item.name}}
    br
    br
    .col-xs-5.text-center
        h1 New:
        img(ng-src="{{watchNew.image}}", height="120px")
        h2 {{watchNew.name}}
        h3 {{watchNew.number}}
    div(class="col-xs-2", style="padding-top: 140px;")
        h3(ng-show="watchOld !== ''") {{watchNew.number}} + {{watchOld.number}} = {{watchNew.number + watchOld.number}}
    .col-xs-5.text-center
        h1 Previous:
        img(ng-src="{{watchOld.image}}", height="120px")
        h2 {{watchOld.name}}
        h3 {{watchOld.number}}
.container(ng-show="toggle.showCode.state", class="code-view")
    .col-xs-12
        div(ng-include="'app/views/partials/watch_code/code_1.html'")

.container
    .col-xs-12
        h2 HOMEWORK

        ul
            li
                h4 $broadcast (downwards to all child scopes)
            li
                h4 $on (listen on events of a given type)
            li
                h4 $emit (upwards through the scope hierarchy)