extends ../includes/layout

block main-content

    .container(ng-hide="activePage == ''")
        ul(class="list-unstyled list-inline pull-left", style="padding-top:5px;min-height:10px;margin-bottom:5px;")
            li
                a(href="/", class="btn btn-default btn-xs") Select
            li
                a(href="/", class="btn btn-default btn-xs") Start


        ul(class="list-unstyled list-inline pull-right", style="padding-top:5px;min-height:10px;margin-bottom:5px;")
            li
                a(class="btn btn-default btn-xs {{toggle.showCode.state ? 'active':''}}", ng-click="toggle.showCode.state = !toggle.showCode.state") Code example
    nav(class="navbar navbar-default", role="navigation", ng-hide="activePage == ''")
        .container
            .navbar-header
                button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span(class="sr-only")
                        | Toggle navigation
                    span(class="icon-bar")
                    span(class="icon-bar")
                    span(class="icon-bar")
            div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav active-page")
                    li
                        a(href="/{{activePage}}")
                            img(ng-src="{{activeImage}}", height="60")
                    li
                        span {{activePage | capitalize}} Man
                ul(class="nav navbar-nav pull-right")
                    li
                        a(href="/init")
                            img(ng-hide="activePage == 'init'" src="/app/images/spark.png", height="45")
                            span(class="spacer", ng-show="activePage == 'init'") 1
                    li
                        a(href="/binding")
                            img(ng-hide="activePage == 'binding'", src="/app/images/snake.png", height="45")
                            span(class="spacer", ng-show="activePage == 'binding'") 2
                    li
                        a(href="/directive")
                            img(ng-hide="activePage == 'directive'", src="/app/images/needle.png", height="45")
                            span(class="spacer", ng-show="activePage == 'directive'") 3
                    li
                        a(href="/form")
                            img(ng-hide="activePage == 'form'", src="/app/images/top.png", height="45")
                            span(class="spacer", ng-show="activePage == 'form'") 4
                    li
                        a(href="/watch")
                            img(ng-hide="activePage == 'watch'", src="/app/images/shadow.png", height="45")
                            span(class="spacer", ng-show="activePage == 'watch'") 5
                    li
                        a(href="/filter")
                            img(ng-hide="activePage == 'filter'", src="/app/images/magnet.png", height="45")
                            span(class="spacer", ng-show="activePage == 'filter'") 6
                    li
                        a(href="/factory")
                            img(ng-hide="activePage == 'factory'", src="/app/images/gemini.png", height="45")
                            span(class="spacer", ng-show="activePage == 'factory'") 7
                    li
                        a(href="/animate")
                            img(ng-hide="activePage == 'animate'", src="/app/images/hard.png", height="45")
                            span(class="spacer", ng-show="activePage == 'animate'") 8


    section.content

        div(ng-view)