doctype html
html(ng-app='app')
    head
        title ngMan
        base(href="/")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/app/images/ngManStraight.png", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/animate.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/highlightjs/styles/monokai.css")

    body(ng-controller="navigationController", style="background-color:{{activePage != '' ? '#FFF':'#333333'}}")
        block main-content
        include scripts