doctype html
html(ng-app='app')
    head
        title AngularJS
        base(href="/")
        link(rel="shortcut icon", href="/app/images/ngManStraight.png", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/animate.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-controller="navigationController")
        block main-content
        include scripts